
<section >
    <div class="login-box">
        
                <div class="login-img">
                     <div class="login-img-box">
                        <img src="../../../assets/usuario.png" alt="usuario">   
                    </div>
                </div>

                <form class="form-login">
                    <label for="">Usuario </label>
                    <input type="text" id="username" name="username" placeholder="   Ingrese su nombre" [(ngModel)]="username" required> 
                    <label for="password" > Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="   Ingrese su contraseña"  [(ngModel)]="password" required>
                    <button type=""> Iniciar sesión</button>
                </form>

                <p ngIf="errorMessage" class="error-menssage">{{ errorMessage }}</p>
                                               
    </div>
</section>

