.container {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 400px 100px;

    .letra {
        width: 80px;
        height: 80px;
        background-color: rgb(38, 35, 35);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }

}

.test {
    margin-top: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    

.h2 {
    
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen {
    width: 900px;
    position: relative;  
    align-items: center;
    justify-content: center;    
    margin: 0px -340px 100px;  

               
      
}
}