
<div class="test">
<ng-container *ngIf="id$ | async as id">

    <span *ngIf="id.get('id') === '1'">
        <h2>
            Es tiempo de comenzar tu prueba, sigue las siguientes instrucciones:           
        </h2>
        <img src="../../assets/imagen_page/Previo_a_la_prueba.png" class="imagen">
    </span>


    <span *ngIf="id.get('id') === '2'">
        <h2>
            Selecciona la letra diferente          
        </h2>
        <div class="container">
            <span *ngFor="let letra of letras" class="letra" (click)="print(letra)">{{letra}}</span>
        </div>
    </span>

    <span *ngIf="id.get('id') === '3'">
        <h2>
            Selecciona la letra diferente          
        </h2>
        <div class="container">
            <span *ngFor="let letra of letras" class="letra" (click)="print(letra)">{{letra}}</span>
        </div>
    </span>

    <span *ngIf="id.get('id') === '4'">
        <h2>
            Selecciona la sílaba diferente          
        </h2>
        <div class="container">
            <span *ngFor="let letra of letras" class="letra" (click)="print(letra)">{{letra}}</span>
        </div>
    </span>

    <span *ngIf="id.get('id') === '5'">
        <h2>
           Tu resultado Fue      
        </h2>
        <div> 
            <img *ngIf="contador <= 1" src="/assets/imagen_disx/bajo_riesgo.png" alt="" class="imagen">
            <img *ngIf="contador > 1" src="/assets/imagen_disx/riesgo_alto.png" alt="" class="imagen">
        </div>

    </span>

    <span *ngIf="id.get('id') === '6'">
        <img src="../../assets/imagen_page/Mat1.png" class="imagen">
    </span>

    <span *ngIf="id.get('id') === '7'">
        <img src="../../assets/imagen_page/Mat2.png" class="imagen">
    </span>

    <span *ngIf="id.get('id') === '8'">
        <p>Comienza eligiendo el tema:</p>
        <a  routerLink = "/page/dasboard/9/prueba"> Fracciones </a>
        <a  routerLink = "@" > Identifica las operaciones entre números racionales </a>
        <a  routerLink = "@" > Aplicación del primer teorema de Tales </a>
    </span>

    <span *ngIf="id.get('id') === '9'">
        <img src="../../assets/imagen_page/Mat3.png" class="imagen">
    </span>

    <span *ngIf="id.get('id') === '10'">
        <iframe src="https://phet.colorado.edu/sims/html/fractions-equality/latest/fractions-equality_all.html?locale=es"  title="juego" width="900" height="400" class="imagen"></iframe>
    </span>

    <span *ngIf="id.get('id') === '11'">
        <iframe src="https://www.thatquiz.org/es-3/matematicas/fraccion/"  title="juego" width="900" height="400" class="imagen"></iframe>
    </span>


</ng-container>

</div>

