body {
    background-image: url(../../../assets/imagen_fondo/bg-banner.png);
    background-repeat: no-repeat;
    background-size: cover;

}

body::after {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.area-juego {
    background-color: #ffffff;
    position: relative;
    padding: 200px;
    border: 10px solid #ED297A;
    border-radius: 15px;
    width: 40%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

}

.frame{
position: absolute;
bottom: 0;
right: 0;
margin: 15px;

}

.next-button {
    color: white;
    border: 5px #ed297ba8;
    border-radius: 15px;
    background-color: #ed297ba8;
    font-size: 16px;
    width: 150px;
    height: 40px;
}

.arrow{
    color: white;
    font-size: 18px;
    margin-left: 5px;
}