
<section class="play">
    <div class="area-juego">  
        
        <prueba></prueba>
        <div class="frame">
                        
            <span *ngIf="id$ | async as id">
            <button  *ngIf="id && convert(id) < 11" class="next-button" (click)="runPrueba(id)" > Siguiente <span class="arrow">→</span></button>
            <button *ngIf="id && id.get('id') === '4'" class="next-button" (click)="runPrueba(id)"> Finalizar </button>
            </span>
            
        
        
        </div>   
    </div>


</section>

