

.area-juego {
    background-color: #ffffff;
    position: relative;
    padding: 200px;
    border: 10px solid #ED297A;
    border-radius: 15px;
    width: 40%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.frame{
position: absolute;
bottom: 0;
right: 0;
margin: 15px;

}

.next-button {
    color: white;
    border: 5px #ed297ba8;
    border-radius: 15px;
    background-color: #ed297ba8;
    font-size: 16px;
    width: 150px;
    height: 40px;
}

.arrow{
    color: white;
    font-size: 18px;
    margin-left: 5px;
}