
<section class="play">
    <div class="area-juego">  
        
        <div class="frame">
            <button type="submit" class="next-button" (click)="runPrueba()" [disabled]="pruebaActiva"> Siguiente <span class="arrow">→</span></button>
            <button type="submit" class="next-button" (click)="finalizarPrueba()" [disabled]="!pruebaActiva" [ngClass]= "{'hide': !pruebaActiva }"> Finalizar </button>
        </div>   
    <prueba></prueba>     
    
</div>
<img *ngIf="bajo_riesgo" src="/src/assets/imagen_disx/bajo_riesgo.png" alt="Riesgo Bajo">
<img *ngIf="alto_riesgo" src="/src/assets/imagen_disx/riesgo_alto.png" alt="Riesgo Alto">
</section>

