body {
    background-image: url(/src/assets/imagen_fondo/bg-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 15px;
    border: 5px solid #ED297A;
    
}