
.content-title{
    width: 1200px; /* Ancho deseado */
    max-width: 100%; /* Ancho máximo permitido */
    margin-left: auto; /* Centrado horizontal */
    margin-right: auto; /* Centrado horizontal */
    height: 200px;
}