<main>
    <Header><app-header></app-header>></Header>
    <section class="content-title">
        <div class="content-title__content">
            <div class="content-title__text">
                <h1>¡Desafía tus límites y brilla como una estrella en el universo del aprendizaje!</h1>
            </div>
            <div class="content-title__btn">
                <button>Aprende aquí</button>
            </div>

        </div>
    </section>
     <section class="banner-component">
        <app-banner></app-banner>
     </section>
    <footer>
        
        <app-footer></app-footer>
    </footer>
</main>
