<section class="content-title">
    <div class="area-texto">  

        <h1>¿Quienes somos?</h1>
            <p> App Disx es una plataforma de aprendizaje híbrida que atiende tanto a niños con necesidades educativas
                especiales como a aquellos sin ellas. Nuestro enfoque principal es fortalecer las habilidades
                matemáticas y de lectura de todos los estudiantes, proporcionando un mapa de ruta personalizado para
                cada uno.
                Reconociendo las dificultades que enfrentan aquellos con dislexia y discalculia, nos dedicamos a ofrecer
                herramientas específicas y adaptadas a sus necesidades. Al mismo tiempo, ofrecemos una amplia gama de
                ejercicios diseñados para desafiar y desarrollar las habilidades de todos los estudiantes,
                independientemente de sus capacidades iniciales. Creemos en la importancia de brindar oportunidades de
                aprendizaje inclusivas y accesibles para todos los niños, y estamos comprometidos a hacer que el proceso
                de aprendizaje sea estimulante y gratificante para cada uno de nuestros usuarios. </p>
        
        <div class="content-title__btn">
            <a routerLink="/page/home">Regresar</a>
        </div>
    </div>   
    
</section>
